{% extends 'main/site.html' %}
{% load static %}
{% block link %}
<link href="{% static 'main/css/login.css' %}" rel="stylesheet">
<script src="{% static 'main/js/scripts.js' %}"></script>
{% endblock %}
{% block content %}
<main>
    <div class="containerForm">
        <form method="post">
            {% csrf_token %}
            <p>Welcome</p>
            Логин <br>
            {{ form.username }}  <br>
            Пароль  <br>
            {{ form.password }} <br>
            <span>{{error}}</span> <br>
            <input style="margin-top: 10px;" type="submit" value="Войти"><br>
            <a href="/registr">Зарегистрироваться</a>
        </form>
    </div>
</main>
{% endblock %}